body{
    direction: rtl;
    height: auto!important;
    min-height: 100%!important;
    background-color: #fff;
    color: #333;
    font-size: .875rem;
    font: normal normal 16px/1.4 'DroidArabicKufi-Regular',sans-serif,Arial;
    font-size: 16px;
    line-height: 1.8;
    width: 50%;
    margin: 0 auto;
}

h1{
    background-color: #F1EFEF;
    padding: 9px 13px;
    box-sizing: border-box;
    border-bottom: 2px solid #1D8387;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    outline: none;
    line-height: inherit;
}
ul{
    list-style-type: disc;
}
ul li ::marker{
    color: #1D8387;
}